 # Importando a biblioteca pandas e dando-lhe um apelido

In [11]:
import pandas as pd

 # Carregando o json em um dataframe

In [12]:
df = pd.read_json('data.json')
print(df)

               CreateDate         EmissionDate  Discount  NFeNumber  NFeID  \
0  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        501      1
1  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        502      2
2  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        503      3

                                            ItemList
0  [{'ProductName': 'Rice', 'Value': 35.55, 'Quan...
1  [{'ProductName': 'Tomate', 'Value': 12.25, 'Qu...
2  [{'ProductName': 'Beer', 'Value': 9.0, 'Quanti...

 # Expandindo os itens da coluna ItemList

In [13]:
df_expanded = df.explode('ItemList')
print(df_expanded)

               CreateDate         EmissionDate  Discount  NFeNumber  NFeID  \
0  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        501      1
0  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        501      1
0  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        501      1
1  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        502      2
1  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        502      2
2  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        503      3
2  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        503      3
2  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        503      3

                                            ItemList
0  {'ProductName': 'Rice', 'Value': 35.55, 'Quant...
0  {'ProductName': 'Flour', 'Value': 11.55, 'Quan...
0  {'ProductName': 'Bean', 'Value': 27.15, 'Quant...
1  {'ProductName': 'Tomate', 'Value': 12.25, 'Qua...
1  {'ProductName': 'Pasta', 'Value': 7.55, 'Quant...
2  {'ProductName': 'Beer', 'Value': 9.0, 'Quantit...
2  {'ProductName': 'French fries', 'Value': 10.99...
2  {'ProductName': 'Ice cream', 'Value': 27.15, '...

# Primeira metade da divisão do dataframe no modelo relacional, contendo os detalhes da nota fiscal

In [14]:
df_nfe_details = df_expanded.drop('ItemList', axis=1)
print(df_nfe_details)

               CreateDate         EmissionDate  Discount  NFeNumber  NFeID
0  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        501      1
0  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        501      1
0  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        501      1
1  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        502      2
1  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        502      2
2  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        503      3
2  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        503      3
2  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        503      3

# Segunda metade da divisão do dataframe no modelo relacional, contendo os itens da nota fiscal em si

In [15]:
df_items = pd.json_normalize(df_expanded['ItemList'])
print(df_items)

    ProductName  Value  Quantity
0          Rice  35.55         2
1         Flour  11.55         5
2          Bean  27.15         7
3        Tomate  12.25        10
4         Pasta   7.55         5
5          Beer   9.00         6
6  French fries  10.99         2
7     Ice cream  27.15         1